apiVersion: apps/v1
kind: Deployment
metadata:
  name: admin
  namespace: foodapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: admin
  template:
    metadata:
      labels:
        app: admin
    spec:
      containers:
        - name: admin
          image: mouhaned07/food-delivery-admin:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5174
          env:
            - name: BACKEND_URL
              value: "http://backend:4000"

---
apiVersion: v1
kind: Service
metadata:
  name: admin
  namespace: foodapp
spec:
  type: NodePort
  selector:
    app: admin
  ports:
    - port: 5174
      targetPort: 5174
      nodePort: 30003
