apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: foodapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: food-delivery-frontend:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5173
          env:
            - name: BACKEND_URL
              value: "http://backend:4000"
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: foodapp
spec:
  selector:
    app: frontend
  ports:
    - port: 5173
      targetPort: 5173
      nodePort: 30002
  type: NodePort
